body {
background-color:#2c95a5;
}

.paragraph {
  font-size:2vw;
  font-family:arial;
  margin-left:.5vw;
  margin-right:.5vw;
}

.pdiv {
  width:75vw;
  position:relative;
  left:12.5vw;
  height:inherit;
  padding: .5vw;
  text-align:center;
  border: .5vw solid #dd7179;
}

.hdiv {
  text-align:center;
  height:10vw;
}

.h01 {
  line-height:10vw;
  font-size:3vw;
  font-family:sans-serif;
}

.h02 {
  line-height:10vw;
  font-size:2.5vw;
  font-family:sans-serif;
}

#div1 { /*First Heading*/
  background-color:#ff0;
}

#div2 { /*First Paragraph*/
  background-color:#68c6bc;
}

#div3 { /*Second Heading*/
  background-color:#ff0;

}

#div4 { /*Second Paragraph*/
  background-color:#eee7c7;
}

#div5 { /*Third Heading*/
  background-color:#ff0;
}
