
.parallax {
  background-image:url("background2.jpg");
  height:100vw;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.paragraph {
  font-size:1.5vw;
  font-family:arial;
  margin-left:.5vw;
  margin-right:.5vw;
}

.pdiv {
  padding: .5vw;
  text-align:center;
  border: .5vw solid #120a8f;
  border:.25vw solid #030056;
}

.hdiv {
  text-align:center;
  height:10vw;
}

.h01 {
  line-height:10vw;
  font-size:3vw;
  font-family:sans-serif;
}

.h02 {
  font-size:2.5vw;
  font-family:sans-serif;
}

#div1 { /*First Heading*/
  background-color:#030056;
  color:#fff;
}

#div2 { /*First Paragraph*/
  background-color:#7a67ee;
  float:left;
  clear:both;
  width:20vw;
  left:1vw;
  height:37vw;
  margin-bottom:1vw;
  text-align:left;
}

#img1 {
  width:18vw;
  height:12vw;
  border: .25vw solid navy;
}

#span1 {
  padding:.5vw;

}

#div3 { /*Second Heading*/
  background-color:#33f;
  line-height:10vw;
}

#div4 { /*Second Paragraph*/
  background-color:#7a67ee;
  float:left;
  width:74vw;
  margin-left:1vw;
  color:#000;
  text-align:left;
}

#div5 { /*Third Heading*/
  background-color:#33f;
  clear:both;
  float:left;
  width:49vw;
  margin-bottom:1vw;
  line-height:6vw;
}

#div6 { /*Third Paragraph*/
  background-color:#7a67ee;
  clear:left;
  float:left;
  width:47vw;
  text-align:left;
}

#div7 { /*Fourth Heading*/
  background-color:#33f;
  float:right;
  width:49vw;
  clear:right;
  text-align:center;
  margin-bottom:1vw;
  line-height:6vw;
}

#div8 { /*Fourth Paragraph*/
  background-color:#7a67ee;
  clear:right;
  float:right;
  width:47vw;
  text-align:left;
}
